@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
    </html>*@
@if (User.Identity.IsAuthenticated)
{
    <li>
        <a asp-controller="Account" asp-action="MyProfile">@User.Identity.Name</a>
    </li>
}
else
{
    <li>
        <a asp-controller="Account" asp-action="SignIn">Dang Nhap</a>
    </li>
}

